header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  background: #fff;
  padding: 16px 0;
}
header .container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.form-search {
  margin: 0 16px 0 auto;
  max-width: 320px;
  width: 100%;
}

.btn-search-mobile {
  width: 32px;
  height: 32px;
  min-width: 32px;
  padding: 8px;
  margin: 0 12px 0 auto;
  fill: none;
  stroke: #1D1D1B;
  align-items: center;
  justify-content: center;
  display: none;
}
.btn-search-mobile svg {
  width: 16px;
  height: 16px;
}

.nav-menu {
  margin: 0 0 0 48px;
}

.menu {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
}
.menu li {
  margin: 0 24px 0 0;
}
.menu li:last-child {
  margin: 0;
}

.menu-link {
  display: flex;
  align-items: center;
  color: rgba(29, 29, 27, 0.6);
  padding: 11px 0;
}
.menu-link .svg-icon {
  width: 20px;
  height: 20px;
  min-width: 20px;
  margin: 0 4px 0 0;
  fill: none;
  stroke: #1D1D1B;
}
.menu-link span {
  padding: 1px 4px;
}
.menu-link:hover, .menu-link:focus {
  color: #1D1D1B;
}

.menu-link-catalog {
  color: #fff;
  background: #57ADE3;
  border-radius: 8px;
  padding: 14px 16px;
  font-size: 16px;
}
.menu-link-catalog .svg-icon {
  stroke: #fff;
}
.menu-link-catalog:hover, .menu-link-catalog:focus {
  color: #fff;
  background: #275C7E;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 97px;
  width: 100%;
}

.btn-burger {
  display: none;
  align-items: center;
  justify-content: center;
  fill: none;
  stroke: #1D1D1B;
  padding: 8px;
  width: 32px;
  height: 32px;
  min-width: 32px;
  margin: 0 12px 0 0;
  transition: 0.3s ease;
}
.btn-burger::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  background: url("../img/burger-menu.svg") no-repeat center;
  background-size: 100%;
}
.btn-burger.active {
  background-size: 100%;
}
.btn-burger.active::before {
  background: url("../img/close-menu.svg") no-repeat center;
}

.btn-notification {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: none;
  margin: 0 16px 0 0;
  width: 40px;
  height: 40px;
  min-width: 40px;
  stroke: #1D1D1B;
  padding: 10px;
}
.btn-notification:hover, .btn-notification:focus {
  stroke: #275C7E;
}
.btn-notification svg {
  width: 20px;
  height: 20px;
}

.btn-cabinet {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 48px;
  height: 48px;
  min-width: 48px;
  padding: 3px;
  border-radius: 50%;
  border: 1px solid rgba(36, 41, 51, 0.14);
}