/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1240px) {
  .nav-menu {
    margin: 0 0 0 16px;
  }
  .menu li {
    margin: 0 16px 0 0;
  }
  .menu li:last-child {
    margin: 0;
  }
}
@media only screen and (max-width: 1200px) {
  .btn-burger {
    display: flex;
  }
  .nav-menu {
    display: none;
    position: fixed;
    margin: 0;
    left: 0;
    top: 56px;
    z-index: 101;
    background: #fff;
    width: 100%;
    padding: 24px;
    box-shadow: 0 4px 10px rgba(29, 29, 27, 0.01);
  }
  .menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu li {
    margin: 0 0 16px;
  }
  .menu li:last-child {
    margin: 0;
  }
  header {
    z-index: 101;
  }
}
@media only screen and (max-width: 992px) {
  .blog-page .col-50 {
    width: 100%;
  }
  .blog-page__content {
    padding: 32px 12px;
  }
  .d-pc {
    display: none;
  }
  .blog-menu-mobile {
    display: flex;
    align-items: stretch;
    overflow-x: auto;
    white-space: nowrap;
    width: calc(100% + 40px);
    font-size: 12px;
    line-height: 18px;
    margin: 0 0 16px;
  }
  .blog-menu-mobile li {
    margin: 0 8px 8px 0;
  }
  .blog-menu-mobile li:last-child {
    margin: 0 0 8px;
  }
  .blog-menu-mobile li a {
    padding: 8px 16px;
    background: #fff;
    border-radius: 40px;
  }
  .blog-menu-mobile li a.active {
    background: rgba(36, 41, 51, 0.09);
  }
  .blog-card {
    padding: 40px 32px;
  }
}
@media only screen and (max-width: 768px) {
  header {
    padding: 12px 0;
  }
  .wrapper-content-page {
    padding: 64px 0 0;
  }
  .error-img {
    max-width: 680px;
  }
  .h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .footer-bottom {
    padding: 16px 0;
  }
  footer .link {
    margin: 0 16px 0 0;
  }
  footer .link:last-child {
    margin: 0;
  }
  .help-page {
    margin: 0;
    height: 100%;
  }
  header .logo {
    max-width: 77px;
  }
}
@media only screen and (max-width: 600px) {
  .btn-search-mobile {
    display: flex;
  }
  .form-search-header {
    display: none;
    width: 100%;
    position: fixed;
    left: 0;
    top: 56px;
    z-index: 101;
    background: #fff;
    width: 100%;
    padding: 24px;
    box-shadow: 0 4px 10px rgba(29, 29, 27, 0.01);
    margin: 0;
    max-width: none;
  }
  .btn-notification {
    width: 32px;
    height: 32px;
    min-width: 32px;
    padding: 8px;
    margin: 0 12px 0 0;
  }
  .btn-notification svg {
    width: 16px;
    height: 16px;
  }
  .btn-cabinet {
    width: 32px;
    height: 32px;
    min-width: 32px;
    padding: 2px;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .link {
    order: -1;
    margin: 0 0 8px;
  }
  footer .link:last-child {
    margin: 0 0 8px;
  }
}
@media only screen and (max-width: 576px) {
  .p-32 {
    padding: 16px 0;
  }
  .mb-24 {
    margin-bottom: 16px;
  }
  .m-32 {
    margin: 16px 0;
  }
  .col-50 {
    width: 100%;
  }
  .logo {
    max-width: 77px;
  }
  h1, .h1 {
    font-size: 20px;
    line-height: 26px;
    margin: 0 auto 16px;
  }
  h4 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 16px;
  }
  h3 {
    font-size: 20px;
    line-height: 26px;
  }
  input, textarea, select {
    height: 40px;
    font-size: 14px;
    line-height: 22px;
  }
  textarea {
    padding: 9px 16px;
  }
  label {
    margin: 0 0 12px;
  }
  label:last-child {
    margin: 0;
  }
  .label-title {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 8px;
  }
  .label-group {
    flex-wrap: wrap;
  }
  .label-group label {
    margin: 0 0 12px;
    flex: none;
    width: 100%;
  }
  .label-group label:last-child {
    margin: 0 0 12px;
  }
  .label-icon {
    top: 9px;
  }
  .form {
    border-radius: 16px;
    padding: 16px;
  }
  .form [type=submit] {
    margin: 12px 0 0;
  }
  .form-login {
    font-size: 14px;
  }
  .form-login p {
    margin: 0 0 16px;
  }
  .content-login {
    font-size: 14px;
  }
  .consent {
    font-size: 12px;
    line-height: 18px;
    max-width: 328px;
  }
  .consent br {
    display: none;
  }
  .btn {
    height: 40px;
    font-size: 14px;
    padding: 9px 16px;
  }
  .btn img {
    max-height: 100%;
  }
  .btn-group .btn {
    margin: 12px 8px 0 0;
  }
  .btn-group .btn:last-child {
    margin: 12px 0 0;
  }
  body {
    font-size: 14px;
    line-height: 22px;
  }
  .error-img {
    max-width: 328px;
    margin: 0 auto 32px;
  }
  .error-section .btn {
    margin: 16px auto 0;
  }
  .nav-breadcrumb {
    margin: 24px 0 16px;
  }
  .wrapper-content-page {
    padding: 56px 0 0;
  }
  .form-help .btn-group {
    justify-content: flex-start;
  }
  .agreement-content {
    font-size: 14px;
    line-height: 22px;
  }
  .agreement-content ul .list-lower-latin {
    padding: 0 0 0 8px;
  }
  .agreement-content ul ul:last-child {
    margin: 16px 0;
  }
  .agreement-content ul ul {
    padding: 0 0 0 16px;
  }
  .agreement-content p {
    margin: 0 0 16px;
  }
  .panel-accordeon {
    padding: 16px 0;
  }
  .panel-accordeon__head:after {
    width: 24px;
    height: 24px;
    min-width: 24px;
  }
  .faq-page h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .help-desk {
    border-radius: 16px;
  }
  .faq-content {
    margin: 24px auto;
  }
  .box-text p, .box-text ul {
    margin: 0 0 12px;
  }
  .box-text p:last-child, .box-text ul:last-child {
    margin: 0;
  }
  .faq-article-page .box-text {
    font-size: 14px;
    line-height: 20px;
  }
  .grade-answer {
    padding: 0;
  }
  .blog-menu-mobile {
    margin: 0 0 8px;
  }
  .blog-card {
    padding: 16px;
    border-radius: 16px;
  }
  .blog-card .box-text {
    font-size: 14px;
    line-height: 22px;
  }
  .blog-card__img {
    margin: 0 0 16px;
  }
  .blog-card__title {
    margin: 0 0 16px;
  }
  .blog-card__footer {
    margin: 16px 0 0;
  }
  .blog-page {
    padding: 0;
  }
  .blog-page__content {
    border-radius: 0;
    padding: 24px 0;
  }
  .blog-menu-mobile {
    width: calc(100% + 12px);
  }
}