@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Medium.eot");
  src: url("../fonts/OpenSans/OpenSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Medium.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-SemiBold.eot");
  src: url("../fonts/OpenSans/OpenSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/OpenSans/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Xolonium";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Xolonium/Xolonium.eot");
  src: url("../fonts/Xolonium/Xolonium.eot?#iefix") format("embedded-opentype"), url("../fonts/Xolonium/Xolonium.woff") format("woff"), url("../fonts/Xolonium/Xolonium.ttf") format("truetype");
}
@font-face {
  font-family: "Xolonium";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Xolonium/Xolonium-bold.eot");
  src: url("../fonts/Xolonium/Xolonium-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Xolonium/Xolonium-bold.woff") format("woff"), url("../fonts/Xolonium/Xolonium-bold.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "OpenSans", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #1D1D1B;
}

html, body, .wrapper {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  transition: 0.3s ease;
  outline: none;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 16px 0 48px;
  box-sizing: border-box;
  font-family: "OpenSans", sans-serif;
  border: 1px solid rgba(36, 41, 51, 0.14);
  border-radius: 8px;
  width: 100%;
  height: 48px;
  background: #fff;
  color: #1D1D1B;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: rgba(29, 29, 27, 0.6);
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: rgba(29, 29, 27, 0.6);
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  box-shadow: none;
  border-color: #275C7E;
}
input:disabled, textarea:disabled, select:disabled {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: text;
  background: rgba(29, 29, 27, 0.04);
}
input:disabled .svg-icon, textarea:disabled .svg-icon, select:disabled .svg-icon {
  stroke: rgba(29, 29, 27, 0.14);
}
input:disabled::-moz-placeholder, textarea:disabled::-moz-placeholder, select:disabled::-moz-placeholder {
  color: rgba(29, 29, 27, 0.14);
}
input:disabled::placeholder, textarea:disabled::placeholder, select:disabled::placeholder {
  color: rgba(29, 29, 27, 0.14);
}
input.p-default, textarea.p-default, select.p-default {
  padding: 0 16px;
}

.label-icon {
  fill: none;
  stroke: rgba(29, 29, 27, 0.6);
  position: absolute;
  top: 14px;
  left: 16px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.label-icon.stroke-none {
  stroke: none;
  fill: rgba(29, 29, 27, 0.6);
}

input[type=radio], input[type=checkbox] {
  width: auto;
  height: auto;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  margin: 0 5px 0 0;
  display: inline;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 20px;
  position: relative;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.label-group {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.label-group label {
  flex: 1;
  margin: 0 12px 20px 0;
}
.label-group label:last-child {
  margin: 0 0 20px;
}

.label-title {
  display: block;
  width: 100%;
  font-weight: 600;
  margin: 0 0 8px;
}

button, .btn {
  outline: none;
  transition: 0.3s ease;
  cursor: pointer;
  box-shadow: none;
  font-family: "OpenSans", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  box-shadow: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px 20px;
  font-size: 16px;
  height: 48px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.btn-icon {
  margin: 0 8px 0 0;
  width: 16px;
  height: 16px;
  min-width: 16px;
}

.btn-sm {
  height: 40px;
  font-size: 14px;
  line-height: 22px;
}

.btn-blue {
  color: #fff;
  background: #57ADE3;
}
.btn-blue svg {
  stroke: #fff;
  fill: none;
}
.btn-blue:hover, .btn-blue:focus {
  color: #fff;
  background: #275C7E;
}
.btn-blue:hover svg, .btn-blue:focus svg {
  stroke: #fff;
}

.btn-red {
  color: #fff;
  background: #A00000;
}
.btn-red svg {
  stroke: #fff;
  fill: none;
}
.btn-red:hover, .btn-red:focus {
  color: #fff;
  background: #275C7E;
}
.btn-red:hover svg, .btn-red:focus svg {
  stroke: #fff;
}

.btn-white {
  background: #fff;
  color: #1D1D1B;
}
.btn-white:hover, .btn-white:focus {
  background: #275C7E;
  color: #fff;
}
.btn-white:hover svg, .btn-white:focus svg {
  stroke: #fff;
}
.btn-white:hover .svg-icon, .btn-white:focus .svg-icon {
  filter: brightness(0) invert(1);
}

.btn-grey {
  background: rgba(29, 29, 27, 0.09);
  color: #1D1D1B;
}
.btn-grey svg {
  stroke: #1D1D1B;
  fill: none;
}
.btn-grey:hover, .btn-grey:focus {
  background: #275C7E;
  color: #fff;
}
.btn-grey:hover svg, .btn-grey:focus svg {
  stroke: #fff;
}

.btn-black {
  color: #fff;
  background: #1D1D1B;
}
.btn-black:hover, .btn-black:focus {
  background: #275C7E;
  color: #fff;
}

.btn-border {
  border: 1px solid rgba(29, 29, 27, 0.14);
}
.btn-border:hover, .btn-border:focus {
  background: #57ADE3;
  stroke: #fff;
}

.btn-border-accent {
  color: #57ADE3;
  border-color: #57ADE3;
}
.btn-border-accent svg {
  width: 16px;
  height: 16px;
  min-width: 16px;
  fill: #57ADE3;
}
.btn-border-accent:hover, .btn-border-accent:focus {
  background: #57ADE3;
  stroke: #fff;
  color: #fff;
}
.btn-border-accent:hover svg, .btn-border-accent:focus svg {
  fill: #fff;
  stroke: none;
}

.btn-group {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.btn-group .btn {
  margin: 20px 8px 0 0;
  flex: 1;
}
.btn-group .btn:last-child {
  margin: 20px 0 0;
}
.btn-group .btn-favorite, .btn-group .flex-none {
  flex: none;
}
.btn-group.justify-end {
  align-items: center;
  justify-content: flex-end;
}
.btn-group.justify-end .btn {
  margin: 0 0 0 32px;
  flex: none;
}

.svg-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

h1 {
  width: 100%;
  margin: 0 auto 24px;
  font-size: 28px;
  font-family: "Xolonium", sans-serif;
}

.h1 {
  width: 100%;
  text-align: center;
  margin: 0 auto 24px;
  font-size: 56px;
  font-family: "Xolonium", sans-serif;
}

h2 {
  width: 100%;
  font-family: "Xolonium", sans-serif;
  font-size: 32px;
}

h3 {
  width: 100%;
  font-family: "Xolonium", sans-serif;
  font-size: 28px;
  margin: 0 0 8px;
}

h4 {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  margin: 0 0 24px;
}

.container {
  max-width: 1344px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 12px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0 -12px;
}

.row-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.col-100 {
  width: 100%;
  padding: 0 12px;
}

.col-25 {
  width: 25%;
  padding: 0 12px;
}

.col-20 {
  width: 20%;
  padding: 0 12px;
}

.col-30 {
  width: 33.33%;
  padding: 0 12px;
}

.col-40 {
  width: 40%;
  padding: 0 12px;
}

.col-50 {
  width: 50%;
  padding: 0 12px;
}

.col-60 {
  width: 60%;
  padding: 0 12px;
}

.col-70 {
  width: 66.66%;
  padding: 0 12px;
}

.col-80 {
  width: 80%;
  padding: 0 12px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper-content {
  flex: 1 1 auto;
}

.wrapper-content-page {
  padding: 80px 0 0;
}

.page-container {
  margin: 0 auto;
  width: 100%;
  max-width: 648px;
}

.p-32 {
  padding: 32px 0;
}

.p-80 {
  padding: 80px 0;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mt-32 {
  margin-top: 32px;
}

.m-32 {
  margin: 32px 0;
}

.d-inline {
  display: inline;
}

.d-flex {
  display: flex;
  align-items: center;
}

.text-decoration {
  text-decoration: underline;
}

.color-blue {
  color: #275C7E;
}

a.color-blue {
  color: #275C7E;
}
a.color-blue:hover {
  color: rgba(29, 29, 27, 0.6);
}

.color-red {
  color: #A00000;
}

a.color-red {
  color: #A00000;
}
a.color-red:hover {
  color: #275C7E;
}

.color-black-500 {
  color: rgba(29, 29, 27, 0.6);
}

.color-black {
  color: #1D1D1B;
}

a.color-black:hover {
  color: #275C7E;
}

.color-grey {
  color: rgba(29, 29, 27, 0.6);
}

.style-italic {
  font-style: italic;
}

.w-100 {
  width: 100%;
}

.form {
  width: 100%;
  background: rgba(36, 41, 51, 0.04);
  border-radius: 24px;
  padding: 24px;
}
.form [type=submit] {
  margin: 20px 0 0;
}

.nav-breadcrumb {
  width: 100%;
  margin: 32px 0 24px;
}

.breadcrumb {
  display: flex;
  align-items: start;
  font-size: 12px;
  line-height: 18px;
}
.breadcrumb a {
  display: flex;
  align-items: center;
  color: rgba(29, 29, 27, 0.6);
}
.breadcrumb a:hover, .breadcrumb a:focus {
  color: #275C7E;
}
.breadcrumb a::after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 18px;
  min-width: 12px;
  background: url("../img/arrow-breadcrumb.svg") no-repeat center;
  background-size: 100%;
  margin: 0 4px;
}

.box-text p, .box-text ul {
  margin: 0 0 20px;
}
.box-text p:last-child, .box-text ul:last-child {
  margin: 0;
}

.panel-accordeon {
  border-radius: 8px;
  border-bottom: 1px solid rgba(36, 41, 51, 0.14);
  padding: 24px 0;
}
.panel-accordeon:last-child {
  border: none;
}
.panel-accordeon__head {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.panel-accordeon__head:after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  min-width: 40px;
  background: url("../img/arrow-accordeon.svg") no-repeat center;
  background-size: 100%;
  transition: 0.3s ease;
}
.panel-accordeon h3 {
  margin: 0 auto 0 0;
}
.panel-accordeon h4 {
  margin: 0 0 16px;
  font-size: 16px;
  line-height: 24px;
}
.panel-accordeon__body {
  display: none;
  padding: 24px 0 0;
}
.panel-accordeon.in .panel-accordeon__head:after {
  transform: rotate(180deg);
}

.sidebar {
  max-width: 312px;
  width: 100%;
}

.nav-pagination {
  margin: 24px auto 0;
  width: 100%;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.pagination li {
  margin: 0 8px 0 0;
}
.pagination li:last-child {
  margin: 0 0 0 24px;
}
.pagination li:first-child {
  margin: 0 32px 0 0;
}
.pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  border-radius: 8px;
  padding: 4px;
  color: #1D1D1B;
  background: rgba(36, 41, 51, 0.09);
}
.pagination li a:hover, .pagination li a.active, .pagination li a:focus {
  background: #57ADE3;
  color: #fff;
}
.pagination li a.pagination-arrow {
  border: 1px solid rgba(36, 41, 51, 0.14);
  background: #fff;
  fill: none;
  stroke: #1D1D1B;
  padding: 8px;
}
.pagination li a.pagination-arrow:hover, .pagination li a.pagination-arrow.active, .pagination li a.pagination-arrow:focus {
  background: #57ADE3;
  stroke: #fff;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}
.table-responsive::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 4px;
}
.table-responsive::-webkit-scrollbar-track {
  background-color: rgba(36, 41, 51, 0.04);
  border-radius: 4px;
}
.table-responsive::-webkit-scrollbar-track-piece {
  background: rgba(36, 41, 51, 0.04);
  border-radius: 4px;
}
.table-responsive::-webkit-scrollbar-thumb {
  background-color: #57ADE3;
  border-radius: 4px;
}
.table-responsive::-webkit-scrollbar-corner {
  background: rgba(36, 41, 51, 0.04);
  border-radius: 4px;
}
.table-responsive::-webkit-resizer {
  background-color: #57ADE3;
  border-radius: 4px;
}

.table {
  width: 100%;
  font-size: 14px;
  line-height: 22px;
}
.table tr {
  border-bottom: 1px solid rgba(29, 29, 27, 0.14);
}
.table td, .table th {
  vertical-align: middle;
  text-align: left;
  padding: 13px 0;
}
.table .label-checkbox {
  font-size: 14px;
  line-height: 22px;
}
.table thead .label-checkbox input:checked ~ .checkbox-custom {
  background: #57ADE3 url("../img/checked-line.svg") no-repeat center;
  background-size: 12px;
}
.table tbody td {
  padding: 8px 0;
}
.table tbody tr {
  transition: 0.3s ease;
}
.table tbody tr:hover {
  background: rgba(87, 173, 227, 0.14);
  border-color: #57ADE3;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  color: #1D1D1B;
  display: flex;
  align-items: center;
}
.dropdown-toggle svg {
  width: 20px;
  height: 20px;
  min-width: 20px;
  margin: 0 0 0 8px;
  fill: none;
  stroke: #1D1D1B;
}
.dropdown-toggle.active, .dropdown-toggle:hover, .dropdown-toggle:focus {
  color: #57ADE3;
}
.dropdown-toggle.active svg, .dropdown-toggle:hover svg, .dropdown-toggle:focus svg {
  transform: rotate(180deg);
  stroke: #57ADE3;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 3;
  padding: 8px 0;
  background: #fff;
  box-shadow: 4px 0 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  margin: 5px auto 0;
}
.dropdown-menu__item {
  border-radius: 0;
  white-space: nowrap;
}
.dropdown-menu__item .svg-icon {
  width: 16px;
  height: 16px;
  min-width: 16px;
  margin: 0 8px 0 0;
  fill: none;
  stroke: #1D1D1B;
}
.dropdown-menu__icon {
  width: 16px;
  min-width: 16px;
  margin: 0 8px 0 0;
}
.dropdown-menu .btn-delete {
  color: #A00000;
}
.dropdown-menu .btn-delete svg {
  stroke: #A00000;
}

.btn-delete {
  color: #A00000;
}
.btn-delete svg {
  stroke: #A00000;
}
.btn-delete:hover, .btn-delete:focus {
  color: #fff;
}

.btn-favorite {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border: 1px solid rgba(36, 41, 51, 0.14);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  fill: #1D1D1B;
  flex: none;
}
.btn-favorite svg {
  width: 20px;
  height: 20px;
}
.btn-favorite:hover, .btn-favorite:focus {
  background: #57ADE3;
  fill: #fff;
}

.btn-favorite2 {
  border: none;
}

.d-tablet, .d-mobile {
  display: none;
}

.select-my {
  padding: 0 32px 0 16px;
  height: 40px;
  font-size: 14px;
  background: #fff url("../img/arrow-select.svg") no-repeat calc(100% - 12px) center;
  background-size: 20px;
}

.select-md {
  height: 48px;
}

.datepicker {
  background: #fff url("../img/calendar.svg") no-repeat 16px center;
  background-size: 20px;
  padding: 0 16px 0 48px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  width: 100%;
  border: none;
  text-align: center;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
}

.ui-datepicker th {
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
  background: url("../img/arrow-select.svg") no-repeat center;
  background-size: 20px;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev {
  transform: rotate(90deg);
}

.ui-datepicker .ui-datepicker-next {
  transform: rotate(-90deg);
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  display: none;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  background: #275C7E;
  color: #fff;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  background: #57ADE3;
}

.label-file {
  height: 200px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgba(36, 41, 51, 0.14);
  border-radius: 16px;
}
.label-file input {
  display: none;
}

.label-file__text {
  margin: 16px auto 0;
  max-width: 316px;
  display: block;
  font-size: 14px;
  line-height: 22px;
  color: rgba(29, 29, 27, 0.6);
}
.label-file__text strong {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #1D1D1B;
}

.sizes-banner-text {
  display: block;
  margin: 4px 0 0;
  color: rgba(29, 29, 27, 0.6);
}

.label-file__result {
  width: 100%;
  margin: 16px 0 0;
}

.fileup-file {
  width: 100%;
  max-width: none;
  margin: 0 0 16px;
  background: #fff;
  border-radius: 16px;
  border: 1px solid rgba(36, 41, 51, 0.14);
  padding: 16px;
  font-family: "OpenSans", sans-serif;
}
.fileup-file:last-child {
  margin: 0;
}

.fileup-file.fileup-doc .fileup-preview {
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin: 0 16px 0 0;
  background: url("../img/file-icon.svg") no-repeat center;
  background-size: 100%;
}

.fileup-file .fileup-container .fileup-description {
  font-size: 16px;
  padding-right: 24px;
}

.fileup-file .fileup-container .fileup-size {
  display: block;
  font-size: 14px;
  margin: 8px 0 0;
}

.fileup-file .fileup-controls .fileup-remove {
  position: absolute;
  width: 24px;
  height: 24px;
  min-width: 24px;
  top: 16px;
  right: 16px;
  background: url("../img/clear.svg") no-repeat center;
  background-size: 100%;
}

.fileup-progress {
  background: rgba(36, 41, 51, 0.04);
  margin: 12px 0 0;
  border-radius: 4px;
  height: 4px;
}

.fileup-progress-bar {
  background: #275C7E;
  border-radius: 4px;
}

.fileup-file .fileup-controls .fileup-upload {
  display: none;
}

.tooltip {
  position: absolute;
  z-index: 1;
  top: 14px;
  right: 16px;
}
.tooltip:hover .tooltip-text {
  display: block;
}
.tooltip-icon {
  cursor: pointer;
  opacity: 0.14;
}
.tooltip-text {
  position: absolute;
  background: #fff;
  width: 200px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  font-size: 12px;
  text-align: center;
  margin: 5px auto 0;
  display: none;
}

.tabs__content {
  display: none;
  width: 100%;
  transition: 0.3s ease;
}
.tabs__content.active {
  display: block;
}

.tabs__caption {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 4px;
  border-radius: 8px;
  background: rgba(36, 41, 51, 0.04);
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
}
.tabs__caption li {
  padding: 0;
  text-align: center;
  transition: 0.3s ease;
  cursor: pointer;
  border-radius: 8px;
}
.tabs__caption li.active {
  background: #fff;
}
.tabs__caption li a {
  padding: 5px 12px;
  color: #1D1D1B;
}
.tabs__caption li a svg {
  width: 16px;
  height: 16px;
}

.title-wrapper {
  width: 100%;
  margin: 0 0 24px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
}
.title-wrapper h1 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 0 0;
}
.title-wrapper .showcase-content__head {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 0 0 auto;
}
.title-wrapper .nav-breadcrumb {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 0 0;
}

.label-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  color: #1D1D1B;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
}
.label-checkbox input {
  display: none;
}
.label-checkbox input:checked ~ .checkbox-custom {
  background: #57ADE3 url("../img/checked.svg") no-repeat center;
  background-size: 11px;
  border-color: #57ADE3;
}

.checkbox-custom {
  margin: 0 12px 0 0;
  position: relative;
  border: 1px solid rgba(36, 41, 51, 0.14);
  border-radius: 4px;
  background: rgba(36, 41, 51, 0.04);
  width: 20px;
  height: 20px;
  min-width: 20px;
  cursor: pointer;
  display: block;
}

.label-toggle {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.label-toggle__custom {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background: #fff;
  left: 2px;
  top: 3px;
  transition: 0.3s ease;
}
.label-toggle input {
  width: 40px;
  height: 20px;
  min-width: 40px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  background: rgba(36, 41, 51, 0.14);
  border-radius: 56px;
  margin: 0 12px 0 0;
  opacity: 1;
}
.label-toggle input:checked {
  background: #242933;
}
.label-toggle input:checked ~ .label-toggle__custom {
  left: 22px;
}