@import 'fonts'
@import 'vars'

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: normal
  font-family: $default-font
  font-weight: normal
  background: #fff
  color: $black

html, body, .wrapper
  height: 100%

// dark theme  
.dark-theme
  background: #242933
  color: #fff
  .login-section
    .logo
      img
        display: none
      .logo-white
        display: block
  header
    background: #242933
    color: #fff
    .logo
      img
        display: none
      .logo-white
        display: block
  .menu-link
    color: rgba(#fff, .6)
    .svg-icon
      stroke: rgba(#fff, .6)
    &:hover
      color: #fff
      .svg-icon
        stroke: #fff
  .menu-link-catalog
    color: #fff
    .svg-icon
      stroke: #fff
  .btn-cabinet
    border: 1px solid rgba(#fff, .14)
  .btn-grey
    background: rgba(#fff, .04)
    color: #fff
    .svg-icon
      stroke: #fff
  .btn-notification
    stroke: #fff
  input, textarea, select
    background: transparent
    border: 1px solid rgba(#fff, .6)
    color: #fff
    &::placeholder
      color: rgba(#fff, .6)
  input:disabled, textarea:disabled, select:disabled
    &::placeholder
      color: rgba(#fff, .14)
  .label-icon
    stroke: rgba(#fff, .6)
  .label-icon.stroke-none
    fill: rgba(#fff, .6)
  .btn-modal-code
    width: 40px
    height: 40px
    background: rgba(#fff, .04)
    padding: 10px
    top: 4px
    right: 4px
    border-radius: 8px
    img
      filter: brightness(0) invert(1)
  .color-blue
    color: #57ADE3
    &:hover
      color: $blue
  .advantages-box
    h3
      color: #fff
    .box-text
      color: rgba(#fff,.88)
  .advantages-box1
    border: 1px solid rgba(#fff, .14)
    background: rgba(#fff, .04)
  .advantages-box2
    .box-text
      background: #242933
      &::before
        background: #242933
  .interface-box
    border: 1px solid rgba(#fff, .14)
    background: rgba(#fff, .04)
  .form-subscribe
    .btn-black
      background: #fff
      color: #242933
  .modal__wrapper
    background: #2D313B
    color: #fff
  .modal-title
    color: #fff
  .modal-head
    border-bottom: 1px solid rgba(#fff, 0.14)
  .modal__close
    stroke: #fff
  .btn-border
    border: 1px solid rgba(#fff, 0.14)
  .btn-refresh
    stroke: #fff
  .label-file
    border: 1px dashed rgba(#fff, 0.14)
    &__text
      color: rgba(#fff, .6)
    &__icon
      filter: brightness(0) invert(1)
  .tabs__caption
    background: #383C45
    li
      a
        color: #fff
      &.active
        background: #242933
  .error-img
    img
      display: none
    .logo-white
      display: block
  .error-section
    .box-text
      color: rgba(#fff, .6)
  .breadcrumb a
    color: rgba(#fff, .6)
  .agreement-content .box-text
    color: rgba(#fff, .88 )
  .footer-page
    color: rgba(#fff, .6)
    border-top: 1px solid rgba(#fff, 0.14)
    .footer-bottom
      color: rgba(#fff, .6)
      a
        color: #fff
        &:hover
          color: $blue
  .panel-accordeon
    border-bottom: 1px solid rgba(#fff, 0.14)
  .panel-accordeon__head:after
    filter: brightness(0) invert(1)
  .list-menu-faq a
    color: #fff
    &:hover
      color: $blue
    &::before
      filter: brightness(0) invert(1)
  .help-desk
    background: rgba(#fff, .04)
    .box-text
      color: rgba(#fff, .6)
  .faq-article-page .box-text
    color: rgba(#fff, .88)
  .list-grade a
    filter: brightness(0) invert(1)
    &:hover
      filter: none
  .faq-article__img
    img
      border-radius: 24px
  .label-checkbox
    color: #fff
  .checkbox-custom
    background: rgba(#fff, .04)
    border: 1px solid rgba(#fff, 0.14)
  .form
    background: rgba(#fff, .04)
  .color-black
    color: #fff
  .btn-white
    background: #242933
    color: #fff
  .form-footer, .color-black-500, .showcase-user span, .list-collections li a, .card-product-top__body > span, .showcase-sorter-item p
    color: rgba(#fff, .6)
  .timer-code
    color: rgba(#fff, 0.14)
  .btn-showcase-dropdown
    color: #fff
    background: #242933
    stroke: #fff
    svg
      stroke: #fff
    &:hover, &:focus, &.active
      svg
        transform: none
  .showcase-sorter-item .dropdown-toggle
    color: rgba(#fff, .88)
  .dropdown-toggle svg
    stroke: #fff
  .dropdown-menu
    background: #383C45
    .btn-white
      background: transparent
      &:hover
        background: $accent
  .dropdown-menu__item .svg-icon
    stroke: #fff
  .card-product
    border: 1px solid rgba(#fff, 0.14)
  .card-product__name
    color: #fff
    &:hover
      color: $accent
  .card-product__head .box-text
    color: rgba(#fff, .6)
  .card-product__img
    background: rgba(#fff, 0.04)
  .card-product-top
    border-bottom: 1px solid rgba(#fff, 0.14)
  .card-product-top__name
    color: #fff
  .card-product-column
    border: 1px solid rgba(#fff, 0.14)
  .card-product-column .card-product-top__img
    background: #F6F7F7
  .btn-favorite
    border: 1px solid rgba(#fff, 0.14)
    fill: #fff
  .select-my
    background: transparent url("../img/arrow-select-white.svg") no-repeat calc(100% - 12px) center
    background-size: 20px
  .datepicker
    background: transparent url("../img/calendar-white.svg") no-repeat calc(100% - 12px) center
    background-size: 20px
  .ui-datepicker
    color: #fff
    background: #383C45
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
    color: #fff
    background: #242933
  .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight
    background: $accent
  .ui-widget-header
    background: rgba(#fff, .14)
    border: none
    border-radius: 0
    color: #fff
  .ui-widget-header a
    filter: brightness(0) invert(1)
  .blog-card__list
    color: rgba(#fff, .4)
  .blog-card__list li a
    color: #fff
    &:after
      background: rgba(#fff, .4)
  .form-comments__avatar
    border: 1px solid rgba(#fff, 0.14)
  .comment-box .box-text
    color: rgba(#fff, .88)
  .interesting-card.blog-card
    background: rgba(#fff, .04)
  .blog-card__title
    color: #fff
  .color-grey
    color: rgba(#fff, .6)
  .blog-menu__link
    color: rgba(#fff, .88)
  .blog-menu__link-category::after
    filter: brightness(0) invert(1)
  .blog-card, .cabinet-box
    background: #242933
  .blog-page__content
    background: rgba(#fff, .04)
  .cabinet-box__head
    border-bottom: 1px solid rgba(#fff, 0.14)
  .tooltip-icon
    filter: brightness(0) invert(1)
  .banner-cabinet__avatar
    background: transparent
    border: 1px solid rgba(#fff, 0.14)
  .banner-cabinet__avatar-text
    background: #242933
    img
      filter: brightness(0) invert(1)
      border-radius: 0
  .label-file-banner
    border: 1px solid rgba(#fff, 0.14)
  .saved-poppup
    background: #383C45
    border: none
    color: #2CAD57
  .color-red
    color: #E54B4B
  .btn-red
    background: #E54B4B
  .label-toggle input
    background: rgba(#fff, 0.14)
  .label-toggle input:checked
    background: #fff
  .label-toggle__custom
    background: #242933
  .cabinet-page
    .blog-page__content
      background: transparent
    .cabinet-box
      background: rgba(255, 255, 255, 0.04)
    .label-file-banner
      border: 1px dashed rgba(#fff, .14)
      .label-file__text strong
        color: #fff
      .sizes-banner-text
        color: rgba(#fff, 0.6)
  .catalog-page h1 span
    color: rgba(#fff, .4)
  .form-filter__footer
    background: #242933
  .catalog-search-result .box-text, .filter-selected__tag.btn-clear-filter
    color: rgba(#fff, .6)
  .btn-filter-mobile
    stroke: #fff
  .catalog-page .title-wrapper .tabs__caption li
    stroke: #fff
  .form-search-catalog [type=submit]
    stroke: #fff
  h1.title-search-result
    color: rgba(#fff, .6)
    strong
      color: #fff
  .tooltip-fake
    .tooltip-icon
      filter: none
      background: #E54B4B
    .tooltip-text
      background: #383C45
      &::before
        background: #383C45
  .tooltip-text
    background: #383C45
    &::before
      background: #383C45
  .sticker
    background: rgba(#fff, .04)
    img
      mix-blend-mode: inherit
  .btn-grey2
    background: #2D313B
  .card-product-top.card-product-row .card-product__img
    background: #fff
    // background: #F6F7F7
  .btn-table-search, .btn-cloud
    border: 1px solid rgba(#fff, .14)
    .svg-icon
      stroke: #fff
  .table-sorting
    background: rgba(#fff, .04)
  .table-sorting__item
    color: #fff
    &.active
      background: #242933
      color: #fff
  .table tr
    border-bottom: 1px solid rgba(#fff, .14)
  .tooltip-wrapper__btn
    stroke: #fff
    // background: #242933
  .tooltip-wrapper__box
    background: #383C45
    &::before
      background: #383C45
  .dropdown-menu__item.btn-list .svg-icon
    filter: brightness(0) invert(1)
  .dropdown-menu .btn-delete
    color: #E54B4B
    &:hover
      color: #fff
    svg
      stroke: #E54B4B
  .pagination li a
    background: rgba(#fff, .09)
    color: #fff
  .pagination li a.pagination-arrow
    stroke: #fff
    background: transparent
    border: 1px solid rgba(#fff, .09)
  .btn-settings-table svg
    fill: #fff
  .collections-avatar
    border: 1px solid rgba(#fff, .14)
  .poppup-modal
    background: #2D313B
    .btn-white
      background: #fff
      color: #1D1D1B
      &:hover
        background: $accent
        color: #fff
  .link-btn-add-collections
    color: #fff
    svg
      stroke: #fff
  .dropdown-toggle
    color: #fff
  .product-image-max
    background: #F6F7F7
  .list-characteristics li p, .subtitle
    color: rgba(#fff, .6)
  .product-image-min
    background: #fff
  .price-chart span
    color: #E54B4B
  .slick-arrow
    background: #242933
    stroke: #fff
    border: 1px solid rgba(#fff, .14)
  .label-radio
    color: #fff
  .radio-custom
    border-color: #3497D5
    &::before
      background: #3497D5
  .autographs-wrapper__head h3 span
    color: rgba(#fff, .4)
  .label-radio-autographs-v2
    border-color: rgba(#fff, .14)
  .slick-dots li
    background: rgba(#fff, .14)
  .btn-group-nav .link-rate
    background: rgba(#fff, .04)
    &:hover
      background: $accent
  .price-updated
    color: rgba(#fff, .6)
  .tabbar
    background: #242933
    border-color: rgba(#fff, .14)
  .tabbar-list__link
    fill: #fff
    color: #fff
    background: #383C45
    &:hover
      background: $accent
    &.fill-none
      stroke: #fff
  .nav-menu-mobile
    background: rgba(#fff, .4)
  .nav-menu-mobile__wrapper
    background: #242933
  .nav-menu-mobile__link
    color: #fff
    svg
      stroke: #fff
    .stroke-none
      stroke: none
      fill: #fff        
  .btn-login-mobile
    stroke: #fff
  .blog-menu-mobile li a
    background: #242933
  .blog-menu-mobile li a.active
    background: rgba(#fff, .14)
  .poppup-modal__body .btn-group .btn
    background: #242933
    color: #fff
    &:hover
      background: $accent
  .panel-accordeon-collections
    border: 1px solid rgba(#57ADE324, .14)
  .panel-accordeon-collections__top
    border-bottom: 1px solid rgba(#57ADE324, .14)
  .panel-accordeon-collections .panel-accordeon__body
    border-top: 1px solid rgba(#57ADE324, .14)       
  .accordeon-collections-list li p
    color: rgba(#fff, .6)
  #filter-modal
    .modal-footer
      background: #2D313B  
  .form-filter-box .dropdown-toggle
    border: 1px solid rgba(255, 255, 255, 0.6)
    &:hover
      border-color: $accent
      color: #fff
  .datepicker-year
    background: transparent url(/local/templates/popprice/img/calendar.svg) no-repeat 16px center    
    

// dark theme  end

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

a
  display: inline-block
  text-decoration: none
  transition: .3s ease
  outline: none
  width: fit-content

  &:hover, &:focus
    text-decoration: none

input, textarea, select
  outline: none
  box-shadow: none
  appearance: none
  padding: 0 16px 0 48px
  box-sizing: border-box
  font-family: $default-font
  border: 1px solid rgba(#242933, .14)
  border-radius: 8px
  width: 100%
  height: 48px
  background: #fff
  color: $black
  font-size: 16px
  cursor: pointer
  transition: .3s ease
  &::placeholder
    color: rgba(#1D1D1B, .6)

  &:hover, &:focus
    outline: none
    box-shadow: none
    border-color: $blue
  &:disabled
    appearance: none
    cursor: text
    background: rgba(#1D1D1B, .04)
    .svg-icon
      stroke: rgba(#1D1D1B, .14)
    &::placeholder
      color: rgba(#1D1D1B, .14)
  &.p-default
    padding: 0 16px

.label-icon
  fill: none
  stroke: rgba(#1D1D1B, .6)
  position: absolute
  top: 14px
  left: 16px
  width: 20px
  height: 20px
  @include d-flex
  &.stroke-none
    stroke: none
    fill: rgba(#1D1D1B, .6)

input[type="radio"], input[type="checkbox"]
  width: auto
  height: auto
  appearance: auto
  margin: 0 5px 0 0
  display: inline

label
  display: block
  width: 100%
  margin: 0 0 20px
  position: relative
  &:last-child
    margin: 0

textarea
  resize: none
  padding: 12px 16px
  height: 120px
  resize: none

.label-group
  width: 100%
  display: flex
  align-items: flex-start
  label
    flex: 1
    margin: 0 12px 20px 0
    &:last-child
      margin: 0 0 20px

.label-title
  display: block
  width: 100%
  font-weight: 600
  margin: 0 0 8px

button, .btn
  outline: none
  transition: .3s ease
  cursor: pointer
  box-shadow: none
  font-family: $default-font
  padding: 0
  margin: 0
  border: none
  border-radius: 0

  &:hover, &:focus
    outline: none
    box-shadow: none

.btn
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  padding: 12px 20px
  font-size: 16px
  height: 48px
  border-radius: 8px
  transition: 0.3s ease

.btn-icon
  margin: 0 8px 0 0
  width: 16px
  height: 16px
  min-width: 16px

.btn-sm
  height: 40px
  font-size: 14px
  line-height: 22px

.btn-blue
  color: #fff
  background: $accent
  svg
    stroke: #fff
    fill: none
  &:hover, &:focus
    color: #fff
    background: $blue
    svg
      stroke: #fff

.btn-red
  color: #fff
  background: $error
  svg
    stroke: #fff
    fill: none
  &:hover, &:focus
    color: #fff
    background: $blue
    svg
      stroke: #fff

.btn-white
  background: #fff
  color: $black
  &:hover, &:focus
    background: $blue
    color: #fff
    svg
      stroke: #fff
    .svg-icon
      filter: brightness(0) invert(1)

.btn-grey
  background: rgba($black, .09)
  color: $black
  svg
    stroke: $black
    fill: none
  &:hover, &:focus
    background: $blue
    color: #fff
    svg
      stroke: #fff

.btn-grey2
  background: #383c45
  color: #fff
  &:hover
    background: $accent
    color: #fff

.btn-black
  color: #fff
  background: $black
  &:hover, &:focus
    background: $blue
    color: #fff

.btn-border
  border: 1px solid rgba($black, .14)
  &:hover, &:focus
    background: $accent
    stroke: #fff

.btn-border-accent
  color: $accent
  border-color: $accent
  svg
    width: 16px
    height: 16px
    min-width: 16px
    fill: $accent
  &:hover, &:focus
    background: $accent
    stroke: #fff
    color: #fff
    svg
      fill: #fff
      stroke: none

.btn-group
  width: 100%
  display: flex
  align-items: flex-start
  .btn
    margin: 20px 8px 0 0
    flex: 1
    &:last-child
      margin: 20px 0 0
  .btn-favorite, .flex-none
    flex: none
  &.justify-end
    align-items: center
    justify-content: flex-end
    .btn
      margin: 0 32px 0 0
      flex: none
      &:last-child
        margin: 0
      &.btn-exit
        margin: 0 0 0 16px    

.svg-icon
  @include d-flex

strong, b
  font-weight: bold
  display: inline-block

ul, ol
  padding: 0 0 0 20px

.my-ul
  list-style: none
  padding: 0

.list-dots
  list-style-type: disc

h1
  width: 100%
  margin: 0 auto 24px
  font-size: 28px
  font-family: $title-font

.h1
  width: 100%
  text-align: center
  margin: 0 auto 24px
  font-size: 56px
  font-family: $title-font

h2
  width: 100%
  font-family: $title-font
  font-size: 32px

h3
  width: 100%
  font-family: $title-font
  font-size: 28px
  margin: 0 0 8px

h4
  width: 100%
  font-weight: 600
  font-size: 20px
  line-height: 32px
  margin: 0 0 24px

.container
  max-width: 1344px
  width: 100%
  margin: 0 auto
  position: relative
  // display: flex
  // flex-wrap: wrap
  padding: 0 12px

.row
  display: flex
  flex-wrap: wrap
  align-items: stretch
  margin: 0 -12px

.row-wrapper
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap

.col-100
  width: 100%
  padding: 0 12px

.col-25
  width: 25%
  padding: 0 12px

.col-20
  width: 20%
  padding: 0 12px

.col-30
  width: 33.33%
  padding: 0 12px

.col-40
  width: 40%
  padding: 0 12px

.col-50
  width: 50%
  padding: 0 12px

.col-60
  width: 60%
  padding: 0 12px

.col-70
  width: 66.66%
  padding: 0 12px

.col-80
  width: 80%
  padding: 0 12px

.wrapper
  display: flex
  flex-direction: column
  min-height: 100%

.wrapper-content
  flex: 1 1 auto

.wrapper-content-page
  padding: 80px 0 0

.page-container
  margin: 0 auto
  width: 100%
  max-width: 648px

.p-32
  padding: 32px 0

.p-80
  padding: 80px 0

.mb-48
  margin-bottom: 48px

.mb-40
  margin-bottom: 40px

.mb-32
  margin-bottom: 32px

.mb-24
  margin-bottom: 24px

.mb-16
  margin-bottom: 16px

.mt-32
  margin-top: 32px

.m-32
  margin: 32px 0

.d-inline
  display: inline

.d-flex
  display: flex
  align-items: center

.text-decoration
  text-decoration: underline

.color-blue
  color: $blue

a.color-blue
  color: $blue
  &:hover
    color: rgba($black, .6)

.color-red
  color: $error

a.color-red
  color: $error
  &:hover
    color: $blue

.color-black-500
  color: rgba($black, .6)

.color-black
  color: $black

a.color-black
  &:hover
    color: $blue

.color-grey
  color: rgba($black, .6 )

.style-italic
  font-style: italic

.w-100
  width: 100%

.form
  width: 100%
  background: rgba(#242933, .04)
  border-radius: 24px
  padding: 24px
  [type='submit']
    margin: 20px 0 0

.nav-breadcrumb
  width: 100%
  margin: 32px 0 24px

.breadcrumb
  display: flex
  align-items: start
  // flex-wrap: wrap
  font-size: 12px
  line-height: 18px
  a
    display: flex
    align-items: center
    color: rgba($black, .6)
    &:hover, &:focus
      color: $blue
    &::after
      content: ''
      @include d-flex
      width: 12px
      height: 18px
      min-width: 12px
      background: url('../img/arrow-breadcrumb.svg') no-repeat center
      background-size: 100%
      margin: 0 4px

.box-text
  p, ul
    margin: 0 0 20px
    &:last-child
      margin: 0

.panel-accordeon
  border-radius: 8px
  border-bottom: 1px solid rgba(#242933, .14)
  padding: 24px 0
  &:last-child
    border: none
  &__head
    display: flex
    align-items: center
    cursor: pointer
    &:after
      content: ''
      @include d-flex
      width: 40px
      height: 40px
      min-width: 40px
      background: url('../img/arrow-accordeon.svg') no-repeat center
      background-size: 20px
      transition: .3s ease
      margin-left: auto
  h3
    margin: 0 auto 0 0
  h4
    margin: 0 0 16px
    font-size: 16px
    line-height: 24px
  &__body
    display: none
    padding: 24px 0 0
  &.in
    .panel-accordeon
      &__head
        &:after
          transform: rotate(180deg)

.sidebar
  max-width: 312px
  width: 100%

.nav-pagination
  margin: 24px auto 0
  width: 100%

.pagination
  display: flex
  align-items: center
  justify-content: center
  font-size: 14px
  li
    margin: 0 8px 0 0
    &:last-child
      margin: 0 0 0 24px
    &:first-child
      margin: 0 32px 0 0
    a
      @include d-flex
      text-align: center
      width: 32px
      height: 32px
      min-width: 32px
      border-radius: 8px
      padding: 4px
      color: $black
      background: rgba(#242933, .09)
      &:hover, &.active, &:focus
        background: $accent
        color: #fff
      &.pagination-arrow
        border: 1px solid rgba(#242933, .14)
        background: #fff
        fill: none
        stroke: $black
        padding: 8px
        &:hover, &.active, &:focus
          background: $accent
          stroke: #fff
        svg
          width: 16px
          height: 16px

.table-responsive
  width: 100%
  overflow-x: auto
  &::-webkit-scrollbar
    width: 4px
    height: 4px
    border-radius: 4px
  &::-webkit-scrollbar-track
    background-color: rgba(#242933, .04)
    border-radius: 4px
  &::-webkit-scrollbar-track-piece
    background: rgba(#242933, .04)
    border-radius: 4px
  &::-webkit-scrollbar-thumb
    background-color: $accent
    border-radius: 4px
  &::-webkit-scrollbar-corner
    background: rgba(#242933, .04)
    border-radius: 4px
  &::-webkit-resizer
    background-color: $accent
    border-radius: 4px

.table
  width: 100%
  font-size: 14px
  line-height: 22px
  tr
    border-bottom: 1px solid rgba($black, .14)
  td, th
    vertical-align: middle
    text-align: left
    padding: 13px 0
  .label-checkbox
    font-size: 14px
    line-height: 22px
    padding-left: 5px
  thead
    .label-checkbox
      input
        &:checked ~ .checkbox-custom
          background: $accent url('../img/checked-line.svg') no-repeat center
          background-size: 12px
  tbody
    td
      padding: 8px 0
    tr
      transition: .3s ease
      &:hover
        background: rgba(#57ADE3, .14)
        border-color: #57ADE3

.dropdown
  position: relative

.dropdown-toggle
  color: $black
  display: flex
  align-items: center
  svg
    width: 20px
    height: 20px
    min-width: 20px
    margin: 0 0 0 8px
    fill: none
    stroke: $black
  &.active, &:hover, &:focus
    color: $accent
    svg
      transform: rotate(180deg)
      stroke: $accent

.dropdown-menu
  display: none
  position: absolute
  z-index: 3
  padding: 8px 0
  background: #fff
  box-shadow: 4px 0 16px rgba(#000, .1)
  border-radius: 8px
  left: 50%
  top: 100%
  transform: translate(-50%,0)
  margin: 5px auto 0
  &__item
    border-radius: 0
    white-space: nowrap
    .svg-icon
      width: 16px
      height: 16px
      min-width: 16px
      margin: 0 8px 0 0
      fill: none
      stroke: $black
  &__icon
    width: 16px
    min-width: 16px
    margin: 0 8px 0 0
  .btn-delete
    color: $error
    svg
      stroke: $error

.btn-delete
  color: $error
  svg
    stroke: $error
  &:hover, &:focus
    color: #fff

.btn-favorite
  width: 40px
  height: 40px
  min-width: 40px
  border: 1px solid rgba(#242933, .14)
  border-radius: 8px
  @include d-flex
  padding: 10px
  fill: $black
  flex: none
  svg
    width: 20px
    height: 20px
  &:hover
    background: $accent
    fill: #fff
  &:focus
    background: #fff
    fill: $black

.btn-favorite2
  border: none

.d-tablet, .d-mobile
  display: none

.select-my
  padding: 0 32px 0 16px
  height: 40px
  font-size: 14px
  background: #fff url('../img/arrow-select.svg') no-repeat calc(100% - 12px) center
  background-size: 20px

.select-md
  height: 48px

.datepicker
  background: #fff url('../img/calendar.svg') no-repeat calc(100% - 12px) center
  background-size: 20px
  padding: 0 48px 0 16px

.ui-datepicker
  width: 100%
  max-width: 240px

.ui-datepicker th
  padding: 4px 1px

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active
  width: 100%
  border: none
  text-align: center
  font-family: $default-font
  font-size: 13px

.ui-datepicker th
  font-family: $default-font
  font-size: 13px
  font-weight: 500

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next
  background: url('../img/arrow-select.svg') no-repeat center
  background-size: 20px
  border: none
  border-radius: 0
  cursor: pointer

.ui-datepicker .ui-datepicker-prev
  transform: rotate(90deg)

.ui-datepicker .ui-datepicker-next
  transform: rotate(-90deg)

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span
  display: none

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight
  background: $blue
  color: #fff

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover
  background: $accent

.label-file
  height: 200px
  margin: 0
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
  cursor: pointer
  border: 1px solid rgba(#242933, .14)
  border-radius: 16px
  input
    display: none

.label-file__text
  margin: 16px auto 0
  max-width: 316px
  display: block
  font-size: 14px
  line-height: 22px
  color: rgba(#1D1D1B, .6)
  strong
    display: block
    font-size: 18px
    font-weight: 600
    color: $black

.sizes-banner-text
  display: block
  margin: 4px 0 0
  color: rgba(#1D1D1B, .6)

.label-file__result
  width: 100%
  margin: 16px 0 0

.fileup-file
  width: 100%
  max-width: none
  margin: 0 0 16px
  background: #fff
  border-radius: 16px
  border: 1px solid rgba(#242933, .14)
  padding: 16px
  font-family: $default-font
  &:last-child
    margin: 0

.fileup-file.fileup-doc .fileup-preview
  width: 24px
  height: 24px
  min-width: 24px
  margin: 0 16px 0 0
  background: url('../img/file-icon.svg') no-repeat center
  background-size: 100%

.fileup-file .fileup-container .fileup-description
  font-size: 16px
  padding-right: 24px

.fileup-file .fileup-container .fileup-size
  display: block
  font-size: 14px
  margin: 8px 0 0

.fileup-file .fileup-controls .fileup-remove
  position: absolute
  width: 24px
  height: 24px
  min-width: 24px
  top: 16px
  right: 16px
  background: url('../img/clear.svg') no-repeat center
  background-size: 100%

.fileup-progress
  background: rgba(#242933, .04)
  margin: 12px 0 0
  border-radius: 4px
  height: 4px

.fileup-progress-bar
  background: $blue
  border-radius: 4px

.fileup-file .fileup-controls .fileup-upload
  display: none

.tooltip
  position: absolute
  z-index: 1
  top: 14px
  right: 16px
  &:hover
    .tooltip-text
      display: block
  &-icon
    cursor: pointer
    opacity: 0.14
  &-text
    position: absolute
    background: #fff
    width: 200px
    top: 100%
    left: 50%
    transform: translate(-50%,0)
    padding: 10px
    border-radius: 8px
    box-shadow: 0 0 10px rgba(#000, .14)
    font-size: 12px
    text-align: center
    margin: 5px auto 0
    display: none

.tabs__content
  display: none
  width: 100%
  transition: .3s ease
  &.active
    display: block

.tabs__caption
  display: flex
  align-items: stretch
  flex-wrap: wrap
  padding: 4px
  border-radius: 8px
  background: rgba(#242933, .04)
  width: fit-content
  font-size: 14px
  li
    padding: 0
    text-align: center
    transition: .3s ease
    cursor: pointer
    border-radius: 8px
    &.active
      background: #fff
    a
      padding: 5px 12px
      color: $black
      svg
        width: 16px
        height: 16px

.title-wrapper
  width: 100%
  margin: 0 0 24px
  display: flex
  align-items: center
  flex-wrap: wrap
  font-size: 14px
  h1
    width: fit-content
    margin: 0 auto 0 0
  .showcase-content__head
    width: fit-content
    margin: 0 0 0 auto
  .nav-breadcrumb
    width: fit-content
    margin: 0 auto 0 0
  .btn-favorite
    svg
      width: 100%
      height: 100%  

.tooltip-wrapper
  position: relative
  z-index: 1
  width: fit-content
  &:hover
    .tooltip-wrapper__box
      display: block
  &__btn
    width: 32px
    height: 32px
    min-width: 32px
    @include d-flex
    stroke: #1D1D1B
    fill: none
    padding: 8px
    svg
      width: 16px
      height: 16px

.tooltip-wrapper__box
  position: absolute
  z-index: 2
  color: #fff
  padding: 8px 16px
  background: #242933
  min-width: 180px
  bottom: 100%
  left: -10px
  border-radius: 10px
  font-size: 14px
  line-height: 22px
  display: none
  &::before
    content: ''
    position: absolute
    background: #242933
    left: 10px
    bottom: -10px
    clip-path: polygon(100% 0, 0 0, 50% 100%)
    height: 10px
    width: 14px
    border-radius: 0 0 5px 5px

//checkbox my
.label-checkbox
  position: relative
  display: flex
  align-items: center
  color: $black
  font-size: 16px
  margin: 0
  cursor: pointer
  input
    display: none
    &:checked ~ .checkbox-custom
      background: $accent url('../img/checked.svg') no-repeat center
      background-size: 11px
      border-color: $accent

.checkbox-custom
  margin: 0 12px 0 0
  position: relative
  border: 1px solid rgba(#242933, .14)
  border-radius: 4px
  background: rgba(#242933, .04)
  width: 20px
  height: 20px
  min-width: 20px
  cursor: pointer
  display: block

//checkbox my end

// checkbox toggle
.label-toggle
  display: flex
  align-items: center
  position: relative
  z-index: 1
  cursor: pointer
  &__custom
    position: absolute
    width: 16px
    height: 16px
    border-radius: 16px
    background: #fff
    left: 2px
    top: 3px
    transition: .3s ease
  input
    width: 40px
    height: 20px
    min-width: 40px
    border: none
    appearance: none
    padding: 0
    background: rgba(#242933, .14)
    border-radius: 56px
    margin: 0 12px 0 0
    opacity: 1
    &:checked
      background: #242933
      ~ .label-toggle__custom
        left: 22px

// radio custom
.label-radio
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  font-size: 16px
  position: relative
  z-index: 1
  color: #1D1D1B
  cursor: pointer
  input
    display: none
    &:checked ~ .radio-custom
      border-color: $accent
      &::before
        opacity: 1

.radio-custom
  width: 20px
  height: 20px
  min-width: 20px
  border-radius: 50%
  border: 1px solid rgba(#1D1D1B, .14)
  background: transparent
  transition: .3s ease
  position: absolute
  left: 24px
  top: 24px
  &::before
    content: ''
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    width: 12px
    height: 12px
    border-radius: 50%
    background: $accent
    opacity: 0

.radio-text
  padding: 0 0 0 32px

// slick slider
.slick-slider
  width: 100%

.slick-dots
  list-style: none
  padding: 0
  position: relative
  z-index: 1
  opacity: 1
  bottom: 0
  left: 0
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  margin: 16px auto 0
  li
    cursor: pointer
    transition: .3s ease
    width: 8px
    height: 8px
    border-radius: 10px
    min-width: 8px
    margin: 0 8px 0 0
    background: rgba(#242933, .14)
    &:last-child
      margin: 0
    &.slick-active
      width: 32px
      height: 8px
      background: $accent
    button
      display: none

.slick-arrow
  position: absolute
  top: 50%
  transform: translate(0,-50%)
  opacity: 1
  z-index: 1
  width: 32px
  height: 32px
  border: 1px solid rgba(#242933, .14)
  border-radius: 8px
  background: #fff
  outline: none
  box-shadow: none
  fill: none
  stroke: #1D1D1B
  @include d-flex
  svg
    width: 16px
    height: 16px
  &:hover, &:focus
    background: $accent
    border-color: $accent
    stroke: #fff
  &.slick-disabled
    opacity: 0

.slick-next
  right: -16px

.slick-prev
  left: -16px

.list-social
  margin: 0 auto
  display: flex
  align-items: flex-start
  justify-content: center
  li
    margin: 0 10px 0 0
    &:last-child
      margin: 0
  a
    @include d-flex
    width: 26px
    height: 26px
    min-width: 26px
    opacity: 0.6
    &:hover
      opacity: 1
